@charset "UTF-8";

* {
    margin: 20px 0;
    padding: 0;
    box-sizing: border-box;
    overflow: hidden;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: normal;
}

body {
    background-color: #3D83D3;
    display: flex;
    flex-direction: column;
    justify-content: top;
    align-items: center;
    width: 100vw;
    height: 100vh;
}

header h1 {
    color: white;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    width: 400px;
    height: 400px;
    border-radius: 30px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.301);
}

div img {
    background-size: contain;
    background-attachment: fixed;
    background-position: center center;
    background-repeat: no-repeat;
    width: 250px;
    height: 250px;
    border-radius: 50%;
}

footer h2 {
    color: white;
}