@charset "UTF-8";

* {
    margin: 20px 0;
    padding: 0;
    box-sizing: border-box;
    overflow: hidden;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: normal;
}

body {
    background-color: #074262;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
}

header h1 {
    color: white;
}

main {
    background-color: white;
    width: 400px;
    height: 400px;
    border-radius: 30px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.301);
}

footer h2 {
    color: white;
}