@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: normal;
}

body {
    background-color: #074262;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
}

header h1 {
    color: white;
}

main {
    background-color: white;
    border-radius: 10px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.301);
    padding: 20px;
    margin: 30px 0;
}

div {
    margin-bottom: 20px;
}

div#res {
    display: flex;
    flex-direction: column;
    align-items: center;
}

footer h2 {
    color: white;
}